@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");


.header{
    height: 85px;
    background: #105c8a!important;
    font-weight: bold;
}
.nav-link{
    color: white!important;
}
.nav-menu{
    margin-right: 47px;
    margin-left: auto;
}
.nav-menu li{
    padding:  0 15px;
}
.logo-image{
    max-width: 255px;
}
.standard-container{

}
.chart img{
    max-width: 100%;
}
.primary-text-color{
    color: #105c8a;
}
.table th{
    background-color: #105c8a;
    color: white;
    border-right: red;
}

footer{
    margin-top: 30px;
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding: 2rem;
}

footer a{
    color: #d5d5d5;
}

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer img{
    max-width: 220px;
}
.card-body p{
    color: #105c8a;
    font-weight: bold;
    font-size: 20px;
}
.card :hover{
    text-decoration: none!important;
    text-underline: none!important;
}
.card img{
    padding: 30px;
}
.card{
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid gray;
}

.back-button{
    font-size: 25px;
    color: white;
    transition: 0.2s ;
    font-weight: bold;
}

.back-button:hover{
    font-size: 28px;
    transition: 0.2s ;
    color: white;
    text-decoration: none!important;
}

.card:hover{
    box-shadow: #105c8a ;
    border: #105c8a solid 2px;
}

.btn-primary{
    background-color: #105c8a;
}

input:focus,
button:focus {
    outline: none;
}

button:hover,
.reset:hover {
    opacity: .8;
}

button:active,
.reset:active {
    opacity: .5;
}

div.check-box-holder h3{
    color: #105c8a;
}

.text-center{
    margin-top: 15px;
}

.check-box-holder{
    margin-bottom: 30px;
}

.check-box-holder input{
    margin-left: 50px;
}

.check-box-holder label{
    margin-left: 70px;
}
.image-download{
    max-width: 70px;
    max-height: 70px;
}
.download-file-paragraph{
    font-size: 20px;
}
.text-pcr-result{
    text-decoration: underline;
}
.pdf-img{
    max-width: 30px;
}
.accordion-card{
    border: 2px solid gray;
}