.background{
    ext-align: center;
    background-image: url(images/virus-covid-ncp-corona-background-cell-illustration-176356575.jpg);
    background-size: cover;
    align-content: center;
    background-repeat-y: no-repeat;
    background-repeat-x: no-repeat;
    overflow-x: hidden;
    background-attachment: fixed
}

.container{
    min-width: max-content;!important;
    margin-top: 120px;
    background-color: white;
}

.form-group{
    align-content: space-between;
    text-align: left;
    padding-left: 20px;
}

.font-weight-bold{
    text-align: center;
}

.login{
    font-size: 25px;
    color: #1583c2;
}

.form-control{
    border: 1px solid gray;!important;
    border-radius: 4px;!important;
    height: 30px;!important;
    line-height: 20px;!important;
}

.buttonLogin{
    border: 1px solid black;!important;
    background-color: #1583c2;!important;
    color: white;!important;
    width: 90%;!important;
    margin-left: 15px;!important;

}
.buttonLogin:hover{
    color: white;
    background-color: #1583c2 ;
}

.form-control:focus{
    box-shadow: none;!important;
}

.label{
    font-size: 15px;
    color: darkslategray;
}